[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:theNEOkun/nvim-dotfiles.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:theNEOkun/awesome-dots.git
[submodule "library/dwm"]
	path = library/dwm
	url = git@github.com:theNEOkun/dwm-patched.git
